* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(226, 178, 231);
  height: 100%;
}
