@import "../../../app/styles/mixins.scss";

.singleUser {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    color: white;
    @include main-font(400, 3rem);
  }
}

// It has be updated in ther future for height bugs
// unExpected additional height
